<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="/">DESAFIO STONE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="float-right">
          <button type="button" class="btn btn-dark" [routerLink]="['cadastrar']">Cadastrar Funcionário</button>
        </span>  
    </div>
   
  </nav>
<div class="container p-4">
  <router-outlet></router-outlet>
</div>

